.env
.env.*
!.env.example

__pycache__/
*.pyc
.venv/
.uv-cache/

data/*
plots/
*.csv
*.json
!sample_*.json
!data/product_types.json
*.html
!min_oda/web/templates/*.html

.ipynb_checkpoints/
*.ipynb_meta

.DS_Store
